* {
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    place-items: center;
    gap: 50px;
    margin: 0;
    height: 100vh;
    padding: 0 32px;
    background: #eff9ff;
    font-family: "Euclid Circular A", "Poppins";
  }
  
  .background {
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #65c8ff;
  }
  
  .background::after {
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #143d81;
  }
  
  .card {
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 90%;
    max-width: 360px;
    margin: 20px auto;
    padding: 170px 30px 54px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -880px;
    left: 50%;
    translate: -50% 0;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: #216ce7;
  }
  
  .card .logo {
    position: absolute;
    top: 30px;
    left: 50%;
    translate: -50% 0;
    width: 64px;
    height: 64px;
  }
  
  .card > h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 38px;
    color: rgb(0 0 0 / 38%);
  }
  
  .form {
    margin: 0 0 44px;
    display: grid;
    gap: 12px
  }

 
button#login-btn {
    background-color: #216ce7; 
    color: #ffffff; 
    border: none;
    border-radius: 24px; 
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button#login-btn:hover {
    background-color: #143d81; 
  }

  .input-group {
    margin-bottom: 12px;
  }
  
  .input-group input[type="email"],
  .input-group input[type="password"] {
    background-color: #f2f2f2;
    border: none;
    border-radius: 24px;
    padding: 12px 24px;
    font-size: 16px;
    width: 100%;
    color: rgb(0 0 0 / 38%);
  }
  
  .input-group input[type="email"]:focus,
  .input-group input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  }

  .title {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 38px;
    color: rgba(0, 0, 0, 0.38);
    text-align: center;
  }